extends layout.pug

block content

  article.portfolio-intro

    h1 Welcome to My Portfolio &#x1F98B

    p This portfolio is meant to showcase my skills, including but not limited to: Javascript, HTML, CSS, Git and Github, VS Code, and Express. This is the Unit 6 project of the Treehouse Techdegree course. I have completed #{projects.length} other projects as part of the course, which showcase the skills that I have learned. These projects are linked below.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
            h5= project.project_name

